<ng-container *transloco="let t">
  <fieldset>
    <legend>
      <h1 class="welcome-message">
        {{ t('welcomeMessage') }}
        <select name="cars" id="cars" (change)="langChange($event)">
          <option value="de-DE">DE</option>
          <option value="en-US">EN</option>
        </select>
      </h1>
    </legend>

    <p>{{ 'missingTranslationInApp' | transloco }}</p>

    <div><a routerLink="from-library">From Library</a></div>
    <div><a routerLink="from-webcomponent">From Webcomponent</a></div>
    <div><a routerLink="admin">Admin</a></div>

    <router-outlet></router-outlet>
  </fieldset>
</ng-container>
