<ng-container *transloco="let t">
  <div class="header">
    <h1 class="welcome-message">{{ t('welcomeMessage') }}</h1>
    <div class="language-selection">
      <select
        name="cars"
        id="cars"
        [(ngModel)]="lang"
        (ngModelChange)="langChange()"
      >
        <option value="de">DE</option>
        <option value="en">EN</option>
      </select>
    </div>
  </div>
  <router-outlet></router-outlet>

  <div class="webcomponent">
    <wc-transloco [language]="lang"></wc-transloco>
  </div>
</ng-container>
